body{
    font-family: 'Lucida Sans Regular';
    width: 100%;
    max-width: 100%;
}
.container {
    /* padding-top: 30px; */
    width: 100%;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

a {
    box-sizing: border-box;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: grey;
    border-radius: 10px;
}

a:hover {
    background-color: #001A6E;
    font-size: 16px;
    color: white;
  }

.tentangkami, .layanankami, .kenapakami{
    flex: 1;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
}

.kenapakami {
    background-color: #002f87;
    color: white;
    text-align: justify;
}

.kenapakami ul {
    list-style: none;
    padding: 0;
}

.kenapakami ul li {
    margin: 20px;

}

.akhir1{
    margin-top: 100px;
    background-color: hsl(219, 100%, 26%); 
    color: white; 
    padding: 40px 40px;
    text-align: left;
}

.pembayaran,.hubungikami, .ikutikami, .infosingkat{
    background-color: #ccedff; 
    color: black; 
    padding: 40px 40px;
    width: 100%;
    text-align: left;
    min-width: 250px;
    max-width: 100%;
    flex: 1;
    box-sizing: border-box;
}

.ikutikami img {
    width: 30px;
    height: 30px;
}

.form {
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.produk {
    border: 2px solid #002f87;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 10px;
}
.produk img {
    width: 100%;
    border-radius: 10px;
}
