.section-bg {
    margin-top: 100px;
    background-color: #80C4E9; 
    color: white; 
    padding: 50px; 
    text-align: left;
}

.container {
    padding-top: 30px;
    width: 100%;
    max-width: 100%;
}

a {
    box-sizing: border-box;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: grey;
    border-radius: 10px;
}

a:hover {
    background-color: #001A6E;
    font-size: 16px;
    color: white;
  }

.tentangkami, .layanankami {
    margin-top: 100px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    max-height: 420px;
    margin: 10px;
    width: 31.8%;
    max-width: 100%;
    margin: 50px 10px 10px 10px;
    text-align: justify;
}

.kenapakami {
    text-align: justify;
    margin-top: 100px;
    background-color: #002f87;
    color: white;
    padding: 20px;
    border-radius: 20px; 
    max-height: 420px;
    width: 31.5%;
    max-width: 100%;
    margin: 50px 10px 10px 10px;
}

.kenapakami ul {
    list-style: none;
    padding: 0;
}

.kenapakami ul li {
    margin-bottom: 10px;
}

