.container {
    padding-top: 30px;
    width: 100%;
    max-width: 100%;
}

a {
    box-sizing: border-box;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: grey;
    border-radius: 10px;
}

a:hover {
    background-color: #001A6E;
    font-size: 16px;
    color: white;
  }

.tentangkami, .layanankami {
    margin-top: 100px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    max-height: 420px;
    margin: 10px;
    width: 31.8%;
    max-width: 100%;
    margin: 50px 10px 10px 10px;
    text-align: justify;
    
}

.kenapakami {
    text-align: justify;
    margin-top: 100px;
    background-color: #002f87;
    color: white;
    padding: 20px;
    border-radius: 20px; 
    max-height: 420px;
    width: 31.5%;
    max-width: 100%;
    margin: 50px 10px 10px 10px;
}

.kenapakami ul {
    list-style: none;
    padding: 0;
}

.kenapakami ul li {
    margin-bottom: 10px;
}


.akhir1{
    margin-top: 100px;
    background-color: #002f87; 
    color: white; 
    padding:40px 20px 40px 50px; 
    width: 100%;
}

.infosingkat{
    background-color: #ccedff; 
    color: black; 
    padding:30px 20px 40px 50px; 
    /* atas       bawah  kiri */
    text-align: left; 
    margin-left: 12px;
    max-width: 100%; 
    
}
.pembayaran,.hubungikami, .ikutikami{
    background-color: #ccedff; 
    color: black; 
    padding:40px 20px 40px 50px; 
    /* atas       bawah  kiri */
    text-align: left; 
    max-width: 100%;
    width: 308px;
}

.testimonialcontainer {
	display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
}
.testimonialcard {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 250px;
}
.stars {
       color: gold;
}

.ulasan {
       font-size: 14px;
       color: #555;
}